@model Survey.Models.Questionarie

@{
    ViewBag.Title = "Credentials";
    Layout = "~/Views/Shared/Custom.cshtml";

}

<style>
    .form-group {
        margin: 2em 0;
        display: flex;
        flex-flow: column-reverse;
        margin-bottom: 1em;
        height: 95px;
    }

    .modal-header {
        padding: 1px;
        border-bottom: 1px solid #e5e5e5;
        background: white;
    }

    .h4, h4 {
        font-size: 2em;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .SpanCls {
        color: whitesmoke;
        position: absolute;
        margin-top: 20px;
        font-weight: bold;
    }

    .SpanCls2 {
        color: deeppink;
        position: absolute;
        margin-top: 20px;
        font-weight: bold;
        font-size: 20px;
        margin-left: 300px;
    }

    div#progressBar {
        height: 23px;
        position: absolute;
        border-radius: 3px;
        margin-left: 10px;
        margin-top: 24px;
        font-weight: bold;
        color: red;
    }

    input#TxtName {
        position: absolute;
        margin-top: -181px;
        width: 346px;
        margin-left: 20px;
        border-radius: 19px;
    }

    input#TxtPassword {
        position: absolute;
        width: 346px;
        margin-left: 20px;
        border-radius: 19px;
        margin-top: -121px;
        margin-left: 18px;
    }

    input#TxtName:focus {
        box-shadow: 5px 7px 4px grey, 5px 5px 10px;
        /* border: none; */
        border: none;
    }
    input#TxtPassword:focus {
        box-shadow: 5px 7px 4px grey, 5px 5px 10px;
        /* border: none; */
        border: none;
    }

    button#btnLogin {
        margin-top: -64px;
        position: absolute;
        margin-left: 120px;
    }

    .spn_Class {
        color: red;
    }
    .modal.fade {
        opacity: 1;
    }
/*    .fade-scale {
        transform: scale(0);
        opacity: 0;
        -webkit-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
    }

        .fade-scale.in {
            opacity: 1;
            transform: scale(1);
        }*/
    div .spinner-border {
        
        height: 90px;
        margin-top: 23px;
        width: 57px;
        margin-left: 370px;
        position:absolute;
    }
    img {
        width: 171%;
        display: none;
        margin-top: -20px;
        height: 53%;
        /* font-size: 3em; */
        margin-left: -12px;
    }
</style>
<link href="~/Content/Custom.css" rel="stylesheet" />
<div class="spinner-border" >
    <img src="~/Content/Img/spinner.gif" id="spinner"/>
</div>
    <h2 style="font-weight:bold;color:orangered; margin-top: 46px;">Promantus Suvrvey</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Create Account</h1>
                @*<div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>*@
                @*<span>or use your email for registration</span>*@
                @*<input type="text" placeholder="Name" />
                    <input type="email" placeholder="Email" />
                    <input type="password" placeholder="Password" />*@

                <button type="button" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" id="SignUpModal">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <span class="spn_Class" id="spn_cls"></span>
                <h1>Sign in</h1>
                @*<div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>*@
                <p>To keep connected with us Please Sign In with your personal info</p>

            </form>

            <input type="text" id="TxtName" placeholder="User-name" class="form-control" />
            <input type="password" id="TxtPassword" placeholder="Password" class="form-control" />
            <button type="button" id="btnLogin">Sign In</button>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>ProAcc Survey!</h1>
                    <p style="font-weight:bold;">To keep connected with us please sign Up with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>ProAcc Survey!</h1>
                    <p>Enter your personal details and start survey</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>



    @*<div></div>*@
    <div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="spancls">&times;</span>
                    </button>
                </div>
                <span class="SpanCls2" id="Required"></span>
                <div class="modal-body row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextCompany" />
                            <label>Company Name:</label>
                            <span class="SpanCls" id="lblTxtCompany"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextDesignation" />
                            <label>Designation:</label>
                            <span class="SpanCls" id="lblDesignation"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextUserName" maxlength="7" />
                            <label>User Name:</label>
                            <span class="SpanCls" id="lblUserName"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextFirstName" />
                            <label>First Name:</label>
                            <span class="SpanCls" id="lblFirstName"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextLastName" />
                            <label>Last Name:</label>
                            <span class="SpanCls" id="lblLastName"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="TextPassword" onkeyup="checkpassword();" maxlength="16" />
                            <label>Password:</label>
                            <div id="progressBar"></div>
                            <span class="SpanCls" id="lblPassword"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="TextCnfPassword" onchange="onchangeCnfpwd()" />
                            <label>Confirm Password:</label>
                            <span class="SpanCls" id="lblCnfPassword"></span>
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextPhone" maxlength="10" />
                            <label>Phone:</label>
                            <span class="SpanCls" id="lblPhone"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextEmailId" onblur="EmailIdValidate()" />
                            <label>Email Id:</label>
                            <span class="SpanCls" id="lblEmailId"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextAddress" />
                            <label>Address:</label>
                            <span class="SpanCls" id="lblAddress"></span>
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Country_Info.Country_Id, ViewBag.Country as SelectList, "---Select Country---", htmlAttributes: new { @class = "form-control", @id = "Country" })
                            <label>Country:</label>
                            <span class="SpanCls" id="lblCountry"></span>
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.State_Info.State_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "State_Id", "State_Name"), "---Select State---", htmlAttributes: new { @class = "form-control", @id = "State" })
                            <label>State:</label>
                            <span class="SpanCls" id="lblState"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="TextCity" />
                            <label>City:</label>
                            <span class="SpanCls" id="lblCity"></span>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" pattern="[0-9]*" maxlength="6" required name="zip" id="zip" />
                            <label>Pincode:</label>
                            <span class="SpanCls" id="lblPincode"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-deep-orange" type="button" id="btnSubmit">Register</button>
                    <button class="btn btn-deep-orange" type="button" id="btCancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>




    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <input type="text" id="orangeForm-name" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="orangeForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-deep-orange">Sign up</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        @Html.Hidden("RedirectToIndex", Url.Action("Credentials", "Questionaries"))
    </div>


    <script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });



        $("#Country").change(function () {
            var countryid = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetState","Questionaries")',
                data: { 'Cid': countryid },
                success: function (data) {
                    var state = $("#State");
                    state.empty();
                    state.append($('<option/>', {
                        value: 0,
                        text:"---Select State---"
                    }));
                    $.each(data, function (index, item) {
                        state.append($('<option/>', {

                            vaue: item.Value,
                            text: item.Text
                        }));

                    });
                }
            });
        });

        @*$("#State").change(function () {
            var stateid = $(this).val();
            debugger
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCity","Questionaries")',
                data: { 'Sid': stateid },
                success: function (data) {
                    debugger
                    var city = $("#City");
                    city.empty();
                    city.append($('<option/>', {
                        value: 0,
                        text: "---Select City---"
                    }));
                    debugger
                    $.each(data, function (index, item) {
                        debugger
                        city.append($('<option/>', {

                            vaue: item.Value,
                            text: item.Text
                        }));

                    });
                }
            });
        });*@

    function onchangeCnfpwd() {
        var CnfPassword = $("#TextCnfPassword").val();
        var Password = $("#TextPassword").val();
        if (Password != CnfPassword || CnfPassword != Password) {
            $("#lblCnfPassword").html("Enter Password Carefully Password Mismathced").show().fadeOut(2000);
            $("#TextCnfPassword").val("");
            $("#TextCnfPassword").css("border-color", "Red");
        }
        else {
            $("#TextCnfPassword").css("border-color", "Green");
        }
    }






    function EmailIdValidate() {
        var emailId = $("#TextEmailId").val();
        var regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        var blockemail = /^([\w-\.]+@@(?!gmail.com)(?!yahoo.com)(?!hotmail.com)((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?))$/;
        if (!regex.test(emailId)) {
            $("#lblEmailId").html("Email Id Is Not Valid").show().fadeOut(1000);
            $("#TextEmailId").val("");
            $("#TextEmailId").css("border-color", "Red");
        }
        else if (!blockemail.test(emailId)) {
            $("#lblEmailId").html("Please Provide Your Official Email-Id").show()
            $("#TextEmailId").val("");
            $("#TextEmailId").css("border-color", "Red");
        }
       else  {
            $("#TextEmailId").css("border-color", "Green");
        }
    }

   // $("#TextPassword").keyup(function () {
    function checkpassword() {

        var passWord = $("#TextPassword").val();
        var passLength = passWord.length;
        var numberGenerator = 0;
        var total = 0;
        var Number = /([0-9])/;
        var Alphabets = /([a-zA-Z])/;
        var symbol = /([~,!,#,@@,$,%,^,&,*,-,_,+,=,?,>,<])/;

        if (passLength <= 4) {
            numberGenerator = 38;
            total = numberGenerator;
            if (total < 90) {
                $("#progressBar").html("Password Is Weak").show().fadeIn(4000);
                $("#progressBar").css('background-color', 'darkred');
                $("#progressBar").css('width', total + '%');

            }
        }
        else {

            if (passLength < 16 && Alphabets.test(passWord) && Number.test(passWord) && symbol.test(passWord)) {

                $("#progressBar").html("Password Is Strong And Safe To Use").show().fadeIn(4000);
                $("#progressBar").css('background-color', 'green');
                $("#progressBar").css('color', 'white');
                $("#progressBar").css('width', '90%');
            }
            else {
                $("#progressBar").html("Medium Password Use Alphabet Symbols ").show().fadeIn(4000);
                $("#progressBar").css('background-color', 'orange');
                $("#progressBar").css('color', 'white');
                $("#progressBar").css('width', '70%');

            }
        }
    }

    //$("#SignUpModal").on('click', function () {
    //    $(".modal").on('show.bs.modal', function (e) {
    //        $(".modal .modal-dialog").attr('class', 'modal-dialog  flipInX  animated');
    //    })
    //    $(".modal").on('hide.bs.modal', function (e) {
    //        $(".modal .modal-dialog").attr('class', 'modal-dialog  flipOutX  animated');
    //    })
    //});


    </script>
    <script>
        $(document).ready(function () {

        $(document).ajaxStart(function () {
            $("#spinner").css("display", "block");
        });

        $(document).ajaxComplete(function () {
            $("#spinner").css("display", "none");
        });


        $("#btCancel").on('click', function () {
            $("#myModal").modal("hide");

        });


        $("#TextAddress").on('focusout', function () {
            var address = $("#TextAdress").val();
            if (address == "") {
                $("#lblAddress").html("Enter Your Address").show().fadeOut(3000);
                $("#TextAddress").css("border-color", "Red");
            }
            else {
                $("#TextAddress").css("border-color", "Green");

            }
        });

        $("#TextCompany").on('focusout', function () {
            var cmp = $("#TextCompany").val();
            if (cmp == "") {
                $("#lblTxtCompany").html("Enter Your Company Name").show().fadeOut(3000);
                $("#TextCompany").css("border-color", "Red");
            }
            else {
                $("#TextCompany").css("border-color", "Green");

            }
        });

        $("#TextDesignation").on('focusout', function () {
            var designation = $("#TextDesignation").val();
            if (designation == "") {
                $("#lblDesignation").html("Enter Your Designation").show().fadeOut(3000);
                $("#TextDesignation").css("border-color", "Red");
            }
            else {
                $("#TextDesignation").css("border-color", "Green");

            }
        });
        $("#TextUserName").on('focusout', function () {
            var userName = $("#TextUserName").val();
            if (userName == "") {
                $("#lblUserName").html("Enter Your User Name").show().fadeOut(3000);
                $("#TextUserName").css("border-color", "Red");
            }
            else {
                $.ajax({
                    type: "GET",
                    data: { 'name': userName },
                    url: '@Url.Action("Nameavailability","Questionaries")',
                    success: function (data) {
                        if (data ==0) {
                            $("#lblUserName").html('<font color="Green">Username  Available</font>').show().fadeOut(2000);
                            $("#TexUsertName").css("border-color", "Green");

                        }
                        else {
                            Lobibox.notify('warning', {
                                msg: 'Sorry! User Name Not Available',
                                soundPath: "/Content/LobianJS/dist/sounds/",
                                soundExt: '.ogg',
                                position: 'top right',
                                closeButton: false,
                                draggable: false,
                                closeonEsc: 'false',
                                delay: 1000,
                                cloasable: true,
                                delayIndicator: true,
                                showClass: 'zoomIn',
                                hideClass: 'zoomOut',
                                iconSource: 'bootstrap',
                            });

                            $("#lblUserName").html('<font color="Red">Username Not Available</font>').show().fadeOut(2000);
                            $("#TexUsertName").css("border-color", "Red");
                        }
                    }
                });
            }
        });

        $("#TextEmailId").on('focusout', function () {
            var EmailId = $("#TextEmailId").val();
            if (EmailId == "") {
                $("#lblEmailId").html("Enter Your EmailId").show().fadeOut(3000);
                $("#TextEmailId").css("border-color", "Red");
            }
            else {
                $("#TextEmailId").css("border-color", "Green");

            }
        });
        $("#TextFirstName").on('focusout', function () {
            var FirstName = $("#TextFirstName").val();
            if (FirstName == "") {
                $("#lblFirstName").html("Enter Your First Name").show().fadeOut(3000);
                $("#TextFirstName").css("border-color", "Red");
            }
            else {
                $("#TextFirstName").css("border-color", "Green");

            }
        });
        $("#TextLastName").on('focusout', function () {
            var lastName = $("#TextLastName").val();
            if (lastName == "") {
                $("#lblLastName").html("Enter Your Last Name").show().fadeOut(3000);
                $("#TextLastName").css("border-color", "Red");
            }
            else {
                $("#TextLastName").css("border-color", "Green");

            }
        });

        $("#Country").on('focusout', function () {
            var Country = $("#Country").val();
            if (Country == "") {
                $("#lblCountry").html("Enter Your Country").show().fadeOut(3000);
                $("#Country").css("border-color", "Red");
            }
            else {
                $("#Country").css("border-color", "Green");

            }
        });
        $("#State").on('focusout', function () {
            var State = $("#State").val();
            if (State == "") {
                $("#lblState").html("Enter Your State").show().fadeOut(3000);
                $("#State").css("border-color", "Red");
            }
            else {
                $("#State").css("border-color", "Green");

            }
        });
        $("#TextCity").on('focusout', function () {
            var city = $("#TextCity").val();
            if (city == "") {
                $("#lblCity").html("Enter Your City").show().fadeOut(3000);
                $("#TextCity").css("border-color", "Red");
            }
            else {
                $("#TextCity").css("border-color", "Green");

            }
        });

        $("#zip").on('focusout', function () {
            var zip = $("#zip").val();
            if (zip == "") {
                $("#lblPincode").html("Enter Your Last Name").show().fadeOut(3000);
                $("#zip").css("border-color", "Red");
            }
            else {
                $("#zip").css("border-color", "Green");

            }
        });

        $("#TextPhone").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#lblPhone").html("Digits Only").show().fadeOut("slow");
                $("#TextPhone").css("border-color", "Red");
                return false;
            }
        });
        $("#TextPhone").on('blur',function () {
            var Phone = $("#TextPhone").val();
            if (Phone == "" && Phone <= 10) {
                $("#lblPhone").html("Please Enter Phone Number").show().fadeOut(2000);
                $("#TextPhone").css("border-color", "Red");
            }
            else {
                $("#TextPhone").css("border-color", "Green");
            }
        });

        $("#TextPassword").on('focusout', function () {
            var Password = $("#TextPassword").val();
            if (Password == "") {
                $("#lblPassword").html("Please Enter Password").show().fadeOut(2000);
                $("#TextPassword").css("border-color", "Red");
            }
            else {
                $("#TextPassword").css("border-color", "Green");
            }
        });
        $("#TextCnfPassword").on('blur', function () {
            var CnfPassword = $("#TextCnfPassword").val();
            var Password = $("#TextPassword").val();
            if (CnfPassword == "") {
                $("#lblCnfPassword").html("Enter Password Carefully").show().fadeOut(2000);
                $("#TextCnfPassword").css("border-color", "Red");
            }
        });






        $("#btnSubmit").on('click', function () {
            var cmp = $("#TextCompany").val();
            var designation = $("#TextDesignation").val();
            var userName = $("#TextUserName").val();
            var EmailId = $("#TextEmailId").val();
            var FirstName = $("#TextFirstName").val();
            var lastName = $("#TextLastName").val();
            var Country = $("#Country").val();
            var State = $("#State").val();
            var city = $("#TextCity").val();
            var zip = $("#zip").val();
            var Password = $("#TextPassword").val();
            var CnfPassword = $("#TextCnfPassword").val();
            var Phone = $("#TextPhone").val();
            var address = $("#TextAddress").val();

            var model = {
                Company_Name: cmp,
                Designation: designation,
                User_Name: userName,
                Password: Password,
                First_Name: FirstName,
                Last_Name: lastName,
                Country: Country,
                State: State,
                City: city,
                Address_1: address,
                Phone: Phone,
                EmailId: EmailId,
                Pincode: zip
            }

            if (cmp == "" && designation == "" && userName == "" && EmailId == "" && FirstName == "" && lastName == "" && Country == "" && State == "" && city == "" && zip == "" && Password == "" && Phone == "" && CnfPassword == "" && address == "") {

                $("#Required").html("All Fields Are Required *").show();
                $("#TextCompany").css("border-color", "Red");
                $("#TextDesignation").css("border-color", "Red");
                $("#TextEmailId").css("border-color", "Red");
                $("#TextFirstName").css("border-color", "Red");
                $("#TextLastName").css("border-color", "Red");
                $("#TextUserName").css("border-color", "Red");
                $("#TextPassword").css("border-color", "Red");
                $("#TextCnfPassword").css("border-color", "Red");
                $("#TextPhone").css("border-color", "Red");
                $("#zip").css("border-color", "Red");
                $("#TextCity").css("border-color", "Red");
                $("#State").css("border-color", "Red");
                $("#Country").css("border-color", "Red");
                $("#TextAddress").css("border-color", "Red");
            }
            else {

                $.ajax({
                    type: "POST",
                    data: model,
                    url: '@Url.Action("Create", "Questionaries")',
                    success: function (response) {
                        if (response) {
                            Lobibox.notify('success', {
                                width: 500,
                                rounded: true,
                                soundPath: "/Content/LobianJS/dist/sounds/",
                                soundExt: '.ogg',
                                position: 'center',
                                closeButton: true,
                                draggable: false,
                                closeonEsc: 'false',
                                delayToRemove:4000,
                                cloasable: false,
                                delayIndicator: true,
                                showClass: 'zoomIn',
                                hideClass: 'zoomOut',
                                iconSource: 'bootstrap',
                                msg: 'You Are Successfully Registered To ProAcc Survey Kindly Login to Complete The Survey',
                            });
                            setTimeout(function () {
                                window.location.href = '@Url.Action("Credentials","Questionaries")';
                            }, 2000);
                        }
                        else {
                            Lobibox.notify('Warning', {
                                position:'center',
                                msg:'Sorry You Are Not Registered Try Again!'
                            });
                        }

                    }

                })
            }
        });

    });
    </script>

    <script>

    $(document).ready(function () {

        $("#btnLogin").on('click', function () {
            var txtname = $("#TxtName").val();
            var pwd = $("#TxtPassword").val();

            var model = {
                User_Name: txtname,
                Password:pwd
            }


            if (txtname == "" && pwd == "") {
                Lobibox.notify('error', {
                    msg: 'User-name Password Required',
                    delay: 4000,
                    closeonEsc: false,
                    draggable: false,
                    iconSource: 'bootstrap',
                    soundPath: "/Content/LobianJS/dist/sounds/",
                    soundExt: '.ogg',
                    position: 'top right',
                    closeButton: true,
                    delayIndicator: true,
                    showClass: 'zoomIn',
                    hideClass: 'zoomOut',
                    width: 400,
                });
                //$("#spn_cls").html("Fields are Empty Please Enter Required fiedls").show();
                //$("#TxtName").css("border-color", "Red");
                //$("#TxtPassword").css("border-color", "Red");
            }
            else {

                $.ajax({
                    type: "POST",
                    data: model,
                    url: '@Url.Action("Login","Questionaries")',
                    success: function (response) {
                        if (response=="success") {
                            window.location.href = '@Url.Action("Index","Home")';
                        }
                        else {
                            Lobibox.alert('error', {msg:'No Data Found'})
                        }
                    }
                });
            }
        })
    })
    </script>
